@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,700;1,100&display=swap');
.banner {
  background-size: cover;
  background-position: center;
  padding: 125px 0;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;

}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
  font-family: 'Roboto Serif', serif;
}

.banner h2 {
  margin: 0.7rem;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-family: 'Roboto Serif', serif;
}

.banner p {
  font-size: 32px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Roboto Serif', serif;
  font-weight: 500;
  font-style: italic;

}

.fa-arrow-down:before {
  content: "\f063";
  color: white;
  font-size: 7rem;
  margin-top: 4rem;
  padding-top: 4rem;
}
