@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,700;1,100&display=swap');

.project-container {
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-overflow: clip;
  grid-area: auto;
}

.project-info {
  width: auto;
  align-items: center;
  align-self: center;
  padding: 0 0 0 0;
  font-family: 'Roboto Serif', serif;
  position: relative;
  overflow-wrap: normal;
  text-overflow: initial;
}

.dev-icons {
  font-size: 38px;
  margin-bottom: 2rem;
}

.socials-card {
  width: auto;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
  border-radius: 1rem;
  font-family: 'Roboto Serif', serif;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.socials-card p {
  margin-top: 2rem;
  font-size: 19px;
}

.list-inline {
  display: flex;
}

#social-icon {
  color: #85A4DD;
  font-size: 3rem;
  padding: 1rem;
  transition: color 0.3s ease;
}

#social-icon:hover {
  color: #405274;
}
