.main-wrapper {
  width: 100%;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  padding-left: 68px;
  padding-right: 68px;
  margin-top: 3rem;
  border-radius: 1rem;
  font-family: 'Roboto Serif', serif;
  padding-top: 4rem;
}

.main-wrapper h1 {
  font-size: 52px;
}

.main-wrapper h3 {
  font-weight: bold;
}

.main-wrapper h4 {
  font-style: italic;
}


.divider {
  height: 2px;
  border-radius: 1px;
  background-color: var(--grey-accent);
}
