@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,700;1,100&display=swap');

.banner h1 {
  margin: 0;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
  font-family: 'Roboto Serif', serif;
}

.banner h2 {
  margin: 0.7rem;
  margin-left: 0rem;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-family: 'Roboto Serif', serif;
}

.banner h4 {
  margin: 0.7rem;
  margin-left: 0rem;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Roboto Serif', serif;
  font-style: oblique;
}

.banner p {
  font-size: 22px;
  color: black;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Roboto Serif', serif;
  font-weight: 500;
  font-style: italic;

}

.fa-arrow-down:before {
  content: "\f063";
  color: white;
  font-size: 7rem;
  margin-top: 4rem;
  padding-top: 4rem;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.avatar-card {
  padding: 5rem;
  margin: 4rem;
  background-color: whitesmoke;
  display: flex;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.avatar-info {
 flex-direction: column;
 justify-content: space-between;
 margin-right: 5rem;
}

.banner a {
  text-decoration: none;
}
